.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
}

.home-values{
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  font: var(--font-body);
  font-size: var(--fs-sm);
  color: var(--color-muted);
}