.simplify-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 1px solid var(--color-muted);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--color-bg);
}

.simplify-node {
  background-color: var(--color-primary);
  color: var(--color-card);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.dollar-node {
  background-color: var(--color-bg);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.position-top {
  position: absolute;
  top: 20%;
  left: 50%;
}

.position-left {
  position: absolute;
  bottom: 50%;
  left: 25%;
}

.position-right {
  position: absolute;
  bottom: 50%;
  right: 25%;
}

.position-bottom {
  position: absolute;
  bottom: 20%;
  right: 50%;
}

.red-pill {
  padding: 2px 6px;
  background: var(--color-error);
  color: var(--color-card);
  position: absolute;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
}

.green-pill {
  padding: 2px 6px;
  background: var(--color-success);
  color: var(--color-card);
  position: absolute;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
}